.container {
  position: relative;
}

.container:first-of-type {
  margin-top: 4rem;
}

.container:last-of-type {
  margin-bottom: 4rem;
}

.seeMore {
  position: absolute;
  top: 20px;
  right: 15px;
  text-decoration: none;
  color: var(--dim-text);
  font-weight: 600;
}

.seeMore:hover {
  text-decoration: underline;
}
