.container {
  position: relative;
}

.seeMore {
  position: absolute;
  top: 20px;
  right: 15px;
  text-decoration: none;
  color: var(--dim-text);
  font-weight: 600;
}

.seeMore:hover {
  text-decoration: underline;
}
