.footer {
  background-color: #475561;
}

.link {
  text-decoration: none;
  color: #fff;
  padding: 8px;
}

.link:hover {
  background-color: rgba(134, 142, 150, 0.12);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--mantine-spacing-md);
  padding-inline: 0;
}
.inner {
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    padding-block: 3rem;
    padding-inline: var(--mantine-spacing-md);
    align-items: flex-start;
  }
}
